header{
    height: 100px;
    background-color: white;
    .bg-body-tertiary{
        --bs-bg-opacity: none;
        background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))
        ;
        div{
            padding-top: 8px;
            .navbar-brand{
                font-size: 35px;
                margin-left: 5px;
            }
            a{
                margin-top: 5px;
                padding-left: 35px;
            }
            .active{
                margin-left:45px;
            }
            .navbar-text{
                margin-right: 10px;
                font-size: 20px;
                color: black;
            }
            .nav-item{
                margin-left: 5px;
                padding-top: 3px;
                font-weight: 600;
                font-size:18px;
            }
            .carrito{
                width: 60px;
                height: 60px;
                border: none;
                background-color: white;
                margin-right: 30px;
                img{
                    height: 40px;
                    margin-bottom: 8px;
                }
                #contador-carrito{
                    color: white;
                    background-color: red;
                    border: 4px solid red;
                    border-radius: 15px;
                }
            }
        }
    }
}
